<style>
  .leaflet-control-attribution {
    a{
      font-size: 0.7rem;
      line-height: 0px;
    }
  }
  .awesome-marker-icon-gray {
    opacity:0.9;
    &:hover{
      opacity:1
    }
  }
</style>
<script>
  var options={
    center: [{{ site.Params.map.map_latitude}} , {{ site.Params.map.map_longitude }}], //center coordinates of my map
    zoom: {{ site.Params.map.map_zoom}},
  };
  const venueMap = L.map('map',options);
  const openStreetMap = L.tileLayer(
    'https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
      maxZoom: 18,
      minZoom: 5,
      attribution: 'Basemap © <a href="https://www.openstreetmap.org/copyright" target=\"blank\" rel=\"noopener noreferrer\">OpenStreetMap</a> contributors'
  }).addTo(venueMap);

  const icons = {};
  const layers = {};
  const layernames = {};
  const selectId = {{ .Params.map_select_id }} || [];
  const bounds = [];

  {{ range site.Params.map.icon }}
    if ({{ .type }} == "fa") {
      icons[{{ .name }}] = L.AwesomeMarkers.icon({
        prefix: "fa",
        icon: {{ .icon }},
        markerColor: {{ .markerColor }} || "black",
      });
    } else if ({{ .type }} == "image"){
      icons[{{ .name }}] = L.divIcon({
        html: "<img src="+{{ .icon }}+" style="+"border-radius:50%;height:64px"+">",
        iconAnchor: {{ .iconAnchor }} == null ? [32, 32] : {{ .iconAnchor }},
        iconSize:[0,0]
      });
    }
  {{ end }}

  {{ range site.Params.map.layer }}
    var layer = layers[{{ .name }}];
    var popUpContent = "";

    if (layer === undefined) {
      layer = L.layerGroup();
      layers[{{ .name }}] = layer;
      layer.addTo(venueMap);

      var icon=icons[{{ .icon }}];
      layernames[{{ .name }}] = "<i class=\"fa fa-"+icon.options.icon+ " icon-black\"></i>"
    }
    var venueEvents = {{ .events }} == null ? [] : {{ .events }};
    for (var i=0;i<venueEvents.length;i++) {
      var urlTemplate = venueEvents[i].url !== undefined && venueEvents[i].url.startsWith("https") ? {{ site.Params.map.popupTemplateURLExt }} : {{ site.Params.map.popupTemplateURLInt }};
      var template = venueEvents[i].url === undefined ? {{ site.Params.map.popupTemplate }} : urlTemplate;
      venueEvents[i].url = venueEvents[i].url === undefined  ? "" : (
        venueEvents[i].url.startsWith("https") ? venueEvents[i].url : {{ site.BaseURL }} + venueEvents[i].url
      );
      popUpContent += L.Util.template(
        template,
        venueEvents[i]
      );
    }

    popUpContent != "" ? {{ site.Params.map.popupTemplatePrefix }} + popUpContent + {{ site.Params.map.popupTemplateSuffix }} : "";
    var marker = L.marker(
      {{ .location }}, {
        icon:L.AwesomeMarkers.icon({
          prefix: "fa",
          icon: icons[{{ .icon }}].options.icon,
          markerColor: (selectId.includes({{ .id }}) || selectId.includes("{{ .id }}")) ? icons[{{ .icon }}].options.markerColor || "black" : "gray"
        }),
        riseOnHover: true
      }
    ).addTo(layer);

    if (selectId.includes({{ .id }}) || selectId.includes("{{ .id }}")) {
      bounds.push({{ .location }})
    }

    var titleBits = {{ .url }} == null ?
      {{ site.Params.map.popupTitleTemplate }} :
      L.Util.template({{ site.Params.map.popupTitleTemplate }}, {title:"<a href=\"{url}\" target=\"blank\" rel=\"noopener noreferrer\">{title}</a>"});
    titleBits += {{ .img }} == null ? "": "<div align=\"center\"><img src=\"{src}\" style=\"border-radius:50%;height:96px;border:3px solid transparent;outline:2px solid black;margin: 10px;\"></div>";
    titleBits += {{ site.Params.map.popupAddressTemplate }};

    var titleBits = L.Util.template(
      titleBits,
      {address:{{ .address }},src:{{ .img| absURL }}, title:{{ .title }}, url:{{ .url }}}
    );

    if (popUpContent != "") {
      template = titleBits+"{content}"
      popUpContent = L.Util.template(
        template,
        {content:popUpContent}
      );
    } else {
      popUpContent = titleBits;
    }
    marker.bindPopup(popUpContent);
  {{ end }}


  if (bounds.length > 0) {
    venueMap.flyToBounds(bounds, {maxZoom:15});
  }
  for (var k in layers) {
    delete Object.assign(layers, {[layernames[k]+" "+k]: layers[k] })[k];
  }
  const layercontrol = L.control.layers({}, layers).addTo(venueMap);
  venueMap.attributionControl.addAttribution(
    'Icons: <a href="https://github.com/lennardv2/Leaflet.awesome-markers" target=\"blank\" rel=\"noopener noreferrer\">Leaflet.awesome-markers</a>.'
  );
</script>
