<section class="page-title bg-title overlay-dark" style="background-image: url('{{ .Params.Page_header_bg | absURL}}');">
	<div class="container">
		<div class="row">
			<div class="col-12 text-center">
				<div class="title">
					<h3>{{.Title | markdownify}}</h3>
				</div>
				<ol class="breadcrumb justify-content-center p-0 m-0">
				  <li class="breadcrumb-item"><a href="{{ site.BaseURL }}">Home</a></li>
				  <li class="breadcrumb-item active">{{.Title | markdownify}}</li>
				</ol>
			</div>
		</div>
	</div>
</section>